html {
  font-family: "Linden Hill", serif;
}

body {
  display: block;
  background-color: rgba(127, 173, 203);
  color: white;
}

.section-five {
  font-family: "Sorts Mill Goudy", serif;
  color: rgba(115, 3, 9, .05);
  transition: all 2000ms ease-in-out;
}

.section-five:hover {
  color: #730313;
}

em:hover {
  color: #730313;
}
